# ─── App ───────────────────────────────────────────
NODE_ENV=development
API_PORT=5000
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:5000

# ─── Database ──────────────────────────────────────
MONGODB_URI="mongodb+srv://omarfaruk7022_db_user:4qAHwXmwUmNUkrWm@cluster0.p2w7eao.mongodb.net/?appName=Cluster0"

# ─── Auth ──────────────────────────────────────────
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRES_IN=7d
NEXTAUTH_SECRET=your_nextauth_secret_change_this
NEXTAUTH_URL=http://localhost:3000

# ─── Email (Nodemailer) ────────────────────────────
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=omarfaruk7022@gmail.com
SMTP_PASS=rpcx bumg dcmz gmoo
SMTP_FROM="BariManager <noreply@omarfaruk7022@gmail.com>"

# ─── bKash PGW ─────────────────────────────────────
BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_APP_KEY=your_bkash_app_key
BKASH_APP_SECRET=your_bkash_app_secret
BKASH_USERNAME=your_bkash_username
BKASH_PASSWORD=your_bkash_password
